@import "variables";
@import "libs/libs";
@import "navigation/navigation";
@import "elements/elements";
@import "templates/templates";

p, span {
    font-family: $fontFamily;
}



header {
    #logo-site {
        display: block;
        max-width: 100%;
        img {
            max-width: 100%;
        }
        @include media-breakpoint-down(md) {
            img {
                height: 35px;
            }
        }
    }

    .text-header {
        h1 {
            font-size: 36px;
            color: $firstColor;
            line-height: 1;
            text-align: right;
            @include media-breakpoint-down(xl) {
                font-size: 28px;
            }
            @include media-breakpoint-down(lg) {
                font-size: 17px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 14px;
            }
        }
    }

    nav {
        ul {
            padding: 0;
            li {
                list-style: none;
                margin: 3px 0;
            }
        }
    }
}
