$firstColor: #901C1C;
$secondColor: #D3573C;

$firstColorText: #BF5138;
$firstColorText: #901C1C;

$thirdColor: #DB8876;

$fontColor: #525252;
$secondColorText: #FAFAFA;
$darkGrey: #757575;
$grey :#C4C4C4;

$fontFamily: 'DM Sans', sans-serif;
