.SinglePhotographer {
    position: relative;

    .row-media {
        --bs-gutter-x: 48px;
    }

    .media-tag {
        margin-bottom: 5px;
    }

    .static-informations {
        position: fixed;
        bottom: 0;
        right: 50px;
        background: $thirdColor;
        border-radius: 5px 5px 0 0;
        max-width: 376px;
        width: -webkit-fill-available;

        span {
            font-weight: 500;
            font-size: 24px;
            color: $black;
        }
        @include media-breakpoint-down(md) {
            display: none !important;
        }
    }

    .button-contact-me {
        @include media-breakpoint-down(lg) {
            position: fixed;
            bottom: 16px;
            padding: 5px 34px;
            right: 50%;
            left: 0;
            margin: auto;
            width: fit-content;
        }
        @include media-breakpoint-down(md) {
            right: 0;
            left: 0;
            margin: auto;
        }
    }

}
