.card-photographer {
    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        background: #C4C4C4;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        border-radius: 100%;
    }
    .name {
        font-size: 36px;
        text-align: center;
        color: $secondColor;
    }
    .location {
        font-size: 13px;
        color: $firstColor;
    }
    .tagline {
        font-size: 10px;
        text-align: center;
        color: $black;
    }
    .price {
        font-size: 9px;
        text-align: center;
        color: $darkGrey;
    }
}
